.navbar {
    width: 100%;
    padding: 1rem 2rem;
    background-color: #fff9f4;
    border-bottom: 1px solid orange;

    .navcontainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar__actions {
            display: flex;
            gap: 2rem;

            .btn--primary {
                padding: 0.7rem 0.7rem;
                background-color: orange;
                border-color: orange;
                border-radius: 2rem;
                font-size: 1rem;
                color: white;
                font-weight: 500;
            }

            .btn--secondary {
                text-decoration: none;
                border: 2px solid black;
                border-radius: 1.5rem;
                padding: 0.6rem;
                font-size: 1rem;
                color: black;
                font-weight: 500;
            }
        }
    }
}