@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

// Reset & Base
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import "navbar";
@import "section1";
@import "section2";
@import "section3";
@import "section4";
@import "section5";
@import "section6";
@import "section7";
@import "section8";
@import "section9";
@import "section10";
@import "section11";
@import "footer";